[Desktop Entry]
Name=Settings CoreApps
Comment=Settings is for setup CoreApps settings.
Exec=Settings
Icon=/usr/share/coreapps/icons/Settings.svg
Type=Application
Categories=Settings;Qt;Utility;
Terminal=false
StartupNotify=true
